/HashTables_Lab4/obj
HashTables.Tests/obj/Debug/net7.0/HashTables.Tests.AssemblyInfo.cs
HashTables.Tests/obj/Debug/net7.0/HashTables.Tests.assets.cache
/HashTables.Tests/obj
.vs/HashTables_Lab4/FileContentIndex/7232cb51-e4d8-4b8f-8a90-73f8792562ce.vsidx
.vs/HashTables_Lab4/v17/TestStore/0/testlog.manifest
HashTables.Tests/obj/Debug/net7.0/HashTables.Tests.AssemblyInfo.cs
.vs/HashTables_Lab4/v17/TestStore/0/000.testlog
HashTables_Lab4/obj/Debug/net7.0/HashTables_Lab4.assets.cache
HashTables_Lab4/obj/Debug/net7.0/HashTables_Lab4.AssemblyInfo.cs
